.toolbareintraege{
    width: 100%;
    min-height: 75px;
    margin: 0px 0px;
    line-height: 6;
}

[scroll] {
    position:fixed;
    top:0;

}

.white{
    background-color: white;
}
.green{
    background-color:#a3e9a4;
}
.yellow{
    background-color: #FFF9C4;
}
.orange{
    background-color: rgba(255,110,64,0.3);
}
.red{
    background-color: rgba(244,67,54,0.5);
}

#test{

}