<md-content class="md-padding md-primary" layout-xs="column" layout="row">
    <div flex flex-xs flex-gt-xs="50" layout="column" ng-repeat="entries in cardRow">
        <md-card class="md-accent" ng-class="{ 'red' : entries.color, 'white': entries.color }">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{entries.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h1 style="text-align: center">{{entries.value}}</h1>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button  md-accent md-raised">
                    <md-tooltip md-direction="top">
                        Maximum
                    </md-tooltip>
                    <i class="material-icons">arrow_upward</i></md-button>
                <md-button class="md-icon-button md-raised md-accent">
                    <md-tooltip md-direction="top">
                        Durchschnitt
                    </md-tooltip>
                    <i class="material-icons">trending_flat</i>
                </md-button>
                <md-button class="md-icon-button md-raised md-accent">
                    <md-tooltip md-direction="top">
                        Aktuell
                    </md-tooltip>
                    <i class="material-icons">autorenew</i></md-button>
            </md-card-actions>
        </md-card>
        <!--     <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                 <md-card-title>
                     <md-card-title-text>
                         <span class="md-headline">{{entries.name}}</span>
                         <span class="md-subhead">{{entries.descr}}</span>
                         <h1>1</h1>
                     </md-card-title-text>
                     <md-card-title-media>
                         <div class="md-media-sm card-media"></div>
                     </md-card-title-media>
                 </md-card-title>
                 <md-card-actions layout="row" layout-align="end center">
                     <md-button class="md-raised">Höchste</md-button>
                     <md-button class="md-raised">Durchschnitt</md-button>
                 </md-card-actions>
             </md-card>-->

    </div>

</md-content>
<md-content>
    <div layout="row" layout-xs="column" ng-repeat="charts in chartRow">
        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{charts.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h1 style="text-align: center">...</h1>
            </md-card-content>
            <canvas class="chart chart chart-bar" chart-data="chart1.data"
                    chart-labels="chart1.labels" chart-series="series" chart-options="chart1.options"
                    chart-dataset-override="chart1.datasetOverride" chart-click="onClick">
            </canvas>
        </md-card>
        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Chart 2</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h1 style="text-align: center">...</h1>
            </md-card-content>
            <canvas class="chart chart chart-line" chart-data="chart2.data"
                    chart-labels="chart2.labels" chart-options="chart2.options">
            </canvas>
        </md-card>
    </div>
</md-content>